extends layout

block content

    .content-2.
        <div class="detailed">
            <h2>Lawn and Landscaping Answers</h2>
            <p>Lawn Enforcement has over 15 years experience in providing lawn care and landscaping services to the St. Louis area.  We have compiled a list of some of the most frequently asked questions from our customers over the years.  If you have any additional questions please contact Lawn Enforcement, Inc. and we will be happy to get the answer for you.</p>
        </div>
    .content-1.
        <a name="top"></a>
        <div class="table-of-contents1">
            <div class="left">
                <p><a href="#professional">Why do I need a professional lawn care company?</a></p>
                <p><a href="#family-health">What risk do my children and pets face after a weed control product has been applied?</a></p>
                <p><a href="#lawn-health">What can I do to make my lawn healthier?</a></p>
                <p><a href="#grass-clippings">Should I remove grass clippings?</a></p>
                <p><a href="#water">How much water does my lawn need?</a></p>
                <p><a href="#lawn-height">How high should I mow my lawn?</a></p>
                <p><a href="#moles">Will grub control get rid of the moles in my yard?</a></p>
                <p><a href="#water-seed">How much water does my new seed/sod need?</a></p>
                <p><a href="#mow-frequency">How often does your crew mow my yard?</a></p>
                <p><a href="#mowers">What kind of mowers do you use?</a></p>
                <p><a href="#water-plants">How often should I water the new plants you installed?</a></p>
                <p><a href="#pavers">What are the advantages of pavers over concrete?</a></p>
                <p><a href="#retaining">What are the differences in retaining wall stones?</a></p>
            </div>
        </div>
    .content-2.
        <div><a name="professional"></a>
            <h2>Why do I need a professional lawn care company?</h2>
            <div class="detailed">
                <p>Many homeowners want a lush, green, and healthy lawn but not everyone has the time and expertise to make that happen.  By hiring Lawn Enforcement, Inc. to properly maintain the health of your lawn homeowners are able to get the results they want from their turf without having to have all the worries of putting down the appropriate product at the right time.</p>
                <p>Another reason is that you're hiring an expert who can diagnose problems. We can tell you whether or not the problem with your lawn is a disease, an insect or simply a lack of water, and that can be challenging for you, the homeowner, to do alone.</p>
                <p>In addition, when you hire Lawn Enforcement, you're buying a guarantee for results, and that's not always the case when you're buying products right off the shelf. We can offer our customers this type of commitment because we know we're applying the right amount of the right products at the right time, and do-it-yourselfers can't be sure of that. Plus, putting down the right product at the right rate and at the right time is especially important for many lawn problems.</p>
            </div>
        </div>

        <div><a name="family-health"></a>
            <h2>What risk do children and pets face after applying weed control product?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Please remain off a treated lawn until it has dried – or, as an extra precaution, for 24 hours. This will reduce the potential for contact with the material to practically nothing. When the material is applied to a lawn, it dries very quickly to the target area. Once the product has dried on the surface of plants, it becomes practically impossible to remove any residues from the surfaces.</p>
            </div>
        </div>

        <div><a name="lawn-health"></a>
            <h2>What can I do to make my lawn healthier?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>On top of getting set up with a fertilization/weed control program with Lawn Enforcement, Inc., proper watering and mowing are the two biggest concerns. You need to mow at least once a week during growth periods. When mowing, sharp mower blades are extremely important. Rusty or dull blades rip the grass instead of cutting it, providing opportunities for problems, such as diseases, to infest the lawn.</p>
                <p>As for irrigation, you don't want to over water because that will set the grass up for disease problems as well. At the same time, underwatering stresses the turf and creates opportunities for weeds to grow. Be sure that your sprinkler system covers the lawn well and irrigates deeply to encourage deep root growth and makes the turf less susceptible to drought.</p>
                <p>Lastly, as your landscape develops, keep an eye on trees and shrubs and make sure they remain properly pruned or thinned to allow sufficient light to reach the lawn.</p>
            </div>
        </div>

        <div><a name="grass-clippings"></a>
            <h2>Should I remove grass clippings?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Grass clippings should be left on the lawn when mowing. "Grass-cycling" is natural and an environmentally beneficial practice. Grass clippings are about 90 percent water by weight. Because they are high in protein they should be left on the lawn to decompose and add nutrients to the soil. Grass-cycling also reduces waste and conserves landfill space. It is only necessary to remove lawn clippings if they are long and will smother the lawn.</p>
            </div>
        </div>

        <div><a name="water"></a>
            <h2>How much water does my lawn need?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Your lawn needs 1 to 1-1/2" (3-4cm) of water weekly. Mother Nature provides water, but she sometimes needs help. Watering less frequently but for longer periods is best, usually two to three times per week.  This allows the roots to grow deeper and increases the ability to withstand stress.  </p>
            </div>
        </div>


        <div><a name="lawn-height"></a>
            <h2>How high should I mow my lawn?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Mowing properly is essential for maintaining a quality healthy turf. This includes not only the optimum height, but also the correct frequency with a sharp blade to ensure both a clean cut and minimizing the chance to shock the grass by taking off too much at a time. </p>
                <p>Removal of no more than 1/3 of the leaf blade at one time ensures this.  A lawn that is mowed below optimal heights will see reduced vigor as a result of its decreased ability to manufacture food. Lower mowing heights also diminish the root system, thus reducing its ability to take up water and nutrients. </p>
                <p>Proper height and mowing frequency will result in a denser and healthier turf that is more likely to withstand stresses coming from disease, heat, traffic, and weed infestation.</p>
                <ul>
                    <li>Kentucky Bluegrass and Tall Fescue should be mowed at 2.5” to  4” throughout the growing season.  Mow on the higher end of the spectrum in the hot summer months.</li>
                    <li>Zoysia and Bermuda grass should be mowed at 1” to 2.5” throughout the growing season.</li>
                </ul>
            </div>
        </div>

        <div><a name="moles"></a>
            <h2>Will grub control get rid of the moles in my yard?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Moles diet consists of mostly earthworms and grubs. Obviously, grubs are a choice treat, but not their only food choice. Reduction of their food source, such as grubs, may discourage their activity, but don't expect them to leave immediately.</p>
            </div>
        </div>

        <div><a name="water-seed"></a>
            <h2>How much water does my new seed/sod need?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Newly installed seed or sod requires a different watering regiment than established turf.  With seed you want to keep the seed bed moist throughout the germination period, usually 21 days, by watering every day for shorter time periods.  </p>
                <p>After germination you can go to a more regular watering cycle of every two to three days.  With newly installed sod you want to soak the sod immediately following installation.  It should be so wet that you can not walk on it.  After that water every day (twice a day when temps are above 85 degrees) for about 20 – 30 minutes per area for the first month.  Watch for signs of stress.  If sod is looking dry that means it needs more water.  After the first month you can go to a regular watering cycle.</p>
            </div>
        </div>

        <div><a name="mow-frequency"></a>
            <h2>How often does your crew mow my yard?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>When you hire Lawn Enforcement to professionally maintain your yard we will usually come out once a week  to mow your yard.  This ensures that the grass gets cut at proper intervals and heights.  When growth slows down we will sometimes scale back to every other week.  We usually let growth conditions dictate if we reduce the frequency of cutting</p>
                <p>We always try to mow on the same schedule but if rain throws our schedule off we will sometimes have to adjust the mowing schedule for a week, this is always communicated to the customer.  We are always willing to work with a customer if they require less frequent mowing, please contact us if you have any special request.</p>
            </div>
        </div>

        <div><a name="mowers"></a>
            <h2>What kind of mowers do you use?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Lawn Enforcement, Inc lawn care professionals use only commercial grade walk behind and zero-turn riding mowers.  These mowers are designed to give our customers the highest cut quality while allowing us to maintain peak efficiency.  We regularly maintain all of our equipment so that it operates properly and always use sharp blades so that you get the best cut every time we mow your yard.  </p>
            </div>
        </div>

        <div><a name="water-plants"></a>
            <h2>How often should I water the new plants you installed?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Newly installed plants go through a great deal of stress the first couple of weeks after planting.  In order to get them through this period it is important to ensure they get the right amount of water. </p>
                <p>You should water new plants at least every other day for the first month.  Make sure to maintain a 2” bed of mulch around the plant root ball, this will help trap the moisture in the soil.  After the first month you can go to a less frequent watering cycle. </p>
                <p>With all plants it is always better to water deep.  That way the entire root system gets water.  Try to set your hose on a trickle and let the hose sit over the plant long enough to get at least the top six inches of soil wet.  To check how moist the soil is around a plant stick your finger into the soil.  It should be wet the at least the full length of your finger, if not you need to water more.</p>
            </div>
        </div>

        <div><a name="pavers"></a>
            <h2>What are the advantages of pavers over concrete?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Often customers ask why they should do a paver patio versus a concrete patio.  There are definitely pros and cons to both and ultimately it is a personal decision. </p>
                <p>While pavers may be slightly more expensive than concrete we believe pavers give the customer the ability to have a truly custom look that you can not get from concrete.  Pavers come in a variety of shapes, colors, and textures all to suit different needs.  We usually recommend going to one of our landscaping supply stores and looking at the many different options.  Once you have decided on what type of paver you like then we can design a pattern and color scheme to fit your needs.  </p>
                <p>The options are almost limitless and that is why we custom design every paver patio to be exactly what you are looking for.  Pavers will never crack so years down the line you will be able to enjoy your paver patio just as much as you did right after it is installed.  Plus if you ever want to expand your patio or change its shape it can be done very easily.  Please contact Lawn Enforcement, Inc. if you would like to get a quote on a custom designed paver patio.</p>
            </div>
        </div>

        <div><a name="retaining"></a>
            <h2>What are the differences in retaining wall stones?<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>When it comes to retaining wall or planter wall stones there options to fit every customers needs and budget. </p>
                <p>Prices for the stones vary greatly depending on what type of look you are going for and what function you need from the wall.  Some stones have straight faces while others have a curved face for added dimension.  You can also choose from a wall with one size block or if you want a more random look you can choose from a block with multiple sizes.  </p>
                <p>Between the color, texture, and size options we can design a retaining wall to fit your needs and give you a custom look while staying within your budget.</p>
            </div>
        </div>
