extends layout

block content

    .content
        .thumbContainer
            a(href="#")
                img.thumbImage(data-album="recentWork", src="/images/flickrRecentWork.png")
        .thumbContainer
            a(href="")
                img.thumbImage(data-album="landscaping", src="/images/flickrRecentWork.png")
        .thumbContainer
            a(href="#")
                img.thumbImage(data-album="pavers", src="/images/flickrRecentWork.png")
        .thumbContainer
            a(href="")
                img.thumbImage(data-album="retainingWalls", src="/images/flickrRecentWork.png")
    div#lightbox.hide
        .embed



    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="/javascripts/lightbox.js")
