extends layout

block content

    .content.

        <div class="about"><a name="1"></a>
            <h2>About Us</h2>
            <p>Our goal is to continue providing the same high level of service and reliability Lawn Enforcement customers have grown accustomed to since the company's inception in 1993.  We continue to achieve consistent and controlled growth by building long-lasting relationships based on integrity and dedication to our clients' needs.</p>
            <p>Lawn Enforcement currently provides services to several west St. Louis subdivisions as well as other commercial and residential properties.  We personally oversee all aspects of our customers' projects to ensure our product meets the client's vision. </p>
        </div>

        
