doctype html
html

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name="viewport", content="width=650")
        link(href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/stylesheets/navbar.css')
        if index
            link(rel='stylesheet', href='/stylesheets/index.css')
        if contact
            link(rel='stylesheet', href='/stylesheets/contact.css')
        if faq
            link(rel='stylesheet', href='/stylesheets/faq.css')
        if gallery
            link(rel='stylesheet', href='/stylesheets/gallery.css')
        if services
            link(rel='stylesheet', href='/stylesheets/services.css')
        link(rel='shortcut icon', type='image/png', href='/images/icons/favicon-logo.png')
        title Lawn Enforcement, Inc.

    body
        header
            .row-1
                div.link
                    a(href="/services") Services
                    ul
                        li
                            a(href="/services#design") Landscape Design & Installation
                        li
                            a(href="/services#mowing") Lawn Mowing & Maintenance
                        li
                            a(href="/services#fertilization") Fertilization & Weed Control
                        li
                            a(href="/services#leaf") Leaf Removal
                        li
                            a(href="/services#lights") Landscape Lighting
                        li
                            a(href="/services#care") Lawn Care
                div.link
                    a(href="/contact") Contact
                div.logo
                    a(href="/")
                        img(src="/images/icons/small-logo.png", alt="Lawn Enforcement logo")
                div.link
                    a(href="/gallery") &#160;&#160;&#160;Gallery
                div.link
                    a(href="/faq") &#160;&#160;&#160;FAQ


            .row-3
                | Call the <em>authorities</em> on landscaping and lawncare
                | &#160;&#160;636-230-5296


        block content

        .footer

        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
        script(src="/javascripts/responsiveslides.js")
        script(type="text/javascript", src="/javascripts/rslides.js")
