extends layout

block content

    .content-1.
        <a name="top"></a>
        <div class="table-of-contents1">
            <div class="left">
                <p><a href="#design">Complete Landscape Design and Installation</a></p>
                <p><a href="#mowing">Full Service Lawn Mowing and Maintenance</a></p>
                <p><a href="#fertilization">Annual Fertilization and Weed Control Program</a></p>
                    <ul>
                        <li>Lawns and Ornamental Trees and Shrubs</li>
                        <li>Comprehensive Program</li>
                    </ul>
                <p><a href="#leaf">Leaf Removal</a></p>
                <p><a href="#lights">Landscape Lighting</a></p>
            </div>

            <div class="right">
                <p><a href="#care">Lawn Care Services</a></p>
                <ul>
                    <li>Grub Control</li>
                    <li>Disease Control</li>
                    <li>Renovation Services
                        <ul>
                            <li>Single and Double Core Aeration</li>
                            <li>Over-Seeding</li>
                        </ul>
                    </li>
                    <li>Tree and Shrub Care Program
                        <ul>
                            <li>Spring and Fall Dormant Oil</li>
                            <li>Insect and Disease Control</li>
                            <li>Fall Deep Root Fertilization</li>
                            <li>Ornamental Tree Pruning</li>
                        </ul>
                    </li>
                    <li>Ornamental Bed Maintenance
                        <ul>
                            <li>Mulch Installation</li>
                            <li>Pre-Emergent Bed Weed Control</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="table-of-contents2">
            <div class="left">
                <p><a href="#design">Complete Landscape Design and Installation</a></p>
                <p><a href="#mowing">Full Service Lawn Mowing and Maintenance</a></p>
                <p><a href="#fertilization">Annual Fertilization and Weed Control Program</a></p>
            </div>

            <div class="right">

                <p><a href="#leaf">Leaf Removal</a></p>
                <p><a href="#lights">Landscape Lighting</a></p>
                <p><a href="#care">Lawn Care Services</a></p>
            </div>
        </div>

    .content-2.
        <div><a name="design"></a>
            <h2>Landscape Design and Installation</h2>
            <div class="detailed">
                <p>From vision to creation, we can design, install, and maintain your dream landscape.  We work hand-in-hand with our customers to convert your thoughts and ideas into the landscape you have always envisioned.  We will create a beautiful outdoor environment for you to enjoy for years to come.</p>
                <p>Through the use of our state-of-the-art design software we are able to take a photograph of your existing house and landscape.  We then create a digital image to show you what the completed project will look like.</p>
                <p>We will be on site managing your project from beginning to end, utilizing over two decades of combined experience.</p>
            </div>
        </div>

        <div><a name="mowing"></a>
            <h2>Lawn Mowing and Maintenance<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Commercial and residential, our lawn maintenance programs reach beyond weekly lawn mowing and trim.  We maintain your property as if it were our own.  Our weekly service entails professional mowing, trimming, sidewalk and driveway edging, blowing off all beds and concrete areas, and debris removal.  Please allow us to do the work so you can enjoy your lawn instead of sweating over it.  Once you realize the level of service a truly professional lawn care company provides you will regret not doing it sooner.  </p>
                <p>Let us take care of your commercial property or neighborhood common ground.  We can handle needs of any commercial property, home owners association property, or subdivision common grounds.</p>
                <p>A properly manicured lawn provides a great aesthetic touch for a business or subdivision.   A beautiful well maintained lawn will set business, apartment complex, or subdivision apart from the crowd.  It will also give a great first impression to visitors or potential clients/tenants.</p>
                <p>Providing professional lawn maintenance for a commercial property requires a certain set of skills and experience that not all lawn maintenance companies possess.  Our ability to properly cater to the commercial customer has allowed us to build lasting relationships with all of our customers.  Most of our commercial customers have been working with the professionals at  Lawn Enforcement, Inc. for fifteen years or longer.</p>
            </div>
        </div>


        <div><a name="fertilization"></a>
            <h2>Fertilization and Weed Control Program<a href="#top">Back to Top</a></h2>

            <div class="detailed">
                <p>Our 6-step lawn fertilization and weed control program utilizes properly balanced slow release granular fertilizers to provide proper turf nutrition at the appropriate times of year to maximize the beauty and health of your lawn. The results are improved health, color and density of your lawn. Throughout the growing season we also spray for nuisance weeds including dandelions, clover, crabgrass, and nutsedge.</p>

                <p>The breakdown of our program is as follows:</p>

                <br>
                <p><span>Pre-Spring &mdash; Health and Weed Prevention</span></p>
                <ul>
                    <li>Granular fertilizer to aid in spring green-up and help overcome winter dormancy</li>
                    <li>Pre-emergent control to help prevent crabgrass and other annual weeds</li>
                </ul>

                <p><span>Spring</span></p>
                <ul>
                    <li>Slow release granular fertilizer to maintain good color and density while helping prepare the lawn for the summer season</li>
                    <li>Spray entire yard for broadleaf weeds.  This is when dandelions and clover are most prevalent.  Early action prevents there spread</li>
                </ul>

                <p><span>Late Spring</span></p>
                <ul>
                    <li>Slow released granular fertilizer promotes grass hardiness and increases disease resistance</li>
                    <li>Spot spray broadleaf weed control as needed</li>
                    <li>If contracted, this is also when we apply Grub Control</li>
                </ul>

                <p><span>Summer</span></p>
                <ul>
                    <li>Slow release granular fertilizer increases heat and drought tolerance while not encouraging excess growth</li>
                    <li>Spot spray broadleaf weed control and crabgrass control as necessary.  Spray for nutsedge if present</li>
                </ul>

                <p><span>Early Fall</span></p>
                <ul>
                    <li>Starter fertilizer or slow release granular fertilizer to promote new growth and help recover from summer stress</li>
                    <li>If we provide aeration and over-seeding services we we will then apply a specially formulated starter fertilizer for superior germination and growth.  If you do not contract us to over-seed we will provide proper fertilization to facilitate recovery from the stress incurred during the hot summer months</li>
                </ul>

                <p><span>Late Fall &mdash; Winterizer</span></p>
                <ul>
                    <li>Heavy rate granular fertilizer helps promote root growth and nutrient storage assisting in your lawn’s survival during winter</li>
                </ul>

                <br>
                <p>Call us today <strong>636-230-LAWN</strong> (5296) or e-mail us at <strong>plawnenforcement@gmail.com</strong> for your free fertilization program estimate!</p>

                <p>Referral Incentive &mdash; Refer us to your neighbors, friends and family and receive a $50 credit on your next invoice when they start an annual Lawn Maintenance or Fertilization Program.</p>
            </div>
        </div>

        <div><a name="leaf"></a>
            <h2>Leaf Removal<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Leaves are beautiful with their varying colors in the fall. However, once they start falling and cover your lawn, they quickly become a weekends worth of raking and bagging.</p>
                <p>Lawn Enforcement, Inc will blow all leaves off of your lawn and beds and then vacuum them to remove the leaves from your property.  Leaf Removal charges are based on the time to remove the leaves.  Please call for a price quote.</p>

            </div>
        </div>

        <div><a name="lights"></a>
            <h2>Landscape Lighting<a href="#top">Back to Top</a></h2>
            <div class="detailed">
                <p>Showcase your pride and protect your investment with a beautifully designed landscape lighting system.  With a solid selection of transformers, fixtures, finishes, and filters, our professionally designed landscape lighting will paint your home with light, improving the look, the security, and the value of your home.  Call us to design a system for all of your landscape and home or just to accent a part of your home that you want to be noticed.</p>
            </div>
        </div>

        <div><a name="care"></a>
            <div class="detailed">
                <h2>Lawn Care Services<a href="#top">Back to Top</a></h2>

                <h4>Renovation Services</h4>
                <p><span>Single Core Aeration/Double Core Aeration</span> &mdash; Essential service for the long-term health of your lawn.  Aeration loosens hard compacted clay soil and allows increased oxygen flow to your lawns root system.  It also will improve water absorption and prevent run-off.  Also aids in seed  germination when performed with Over-Seeding service.</p>
                <p><span>Over-Seeding</span> &mdash; We apply premium quality grass seed with the highest germination rates available.  Over-seeding will help repair stressed areas and improves your lawn's overall ability to resist disease.  Over-seeding will help replace the grass that was damaged or destroyed during the growing season.</p>

                <h4>Additional Lawn Care Services</h4>
                <p><span>Grub Control</span> &mdash; Grubs are prevalent in our area and the damage they do to your lawns root system can be devastating.  This is usually coordinated with our fertilization program but can be a stand alone treatment.</p>
                <p><span>Disease Control</span> &mdash; We can apply fungicide as a preventative measure or to treat a break-out of several types of fungus including Summer’s Patch, Dollar Spots, and Brown Patch</p>

                <h4>Tree/Shrub Care Program</h4>
                <p><span>Spring/Fall Dormant Oil</span> &mdash; Oil Spray smothers eggs of aphids, scales, mites, and other pests.</p>
                <p><span>Insect/Disease Control</span> &mdash; Spray an insecticide which prevents insects and disease from harming your trees/shrubs.</p>
                <p><span>Fall Deep Root Fertilization</span> &mdash; Fertilizer injected deep into root system of your trees/shrubs.</p>
                <p><span>Ornamental Tree Pruning</span> &mdash; Trimming off new growth after plants have bloomed will help maintain the appropriate size and appearance of your ornamental trees and shrubs.</p>

                <h4>Ornamental Bed Maintenance</h4>
                <p><span>Mulch Installation</span> &mdash; High grade double ground hardwood bark mulch.  $70 per cubic yard, please call for quote.</p>
                <p><span>Pre-Emergent Bed Weed Control</span> &mdash; Applied to beds in early spring to prevent weed growth.  Usually applied with mulch installation</p>
                <p><span>Fall Deep Root Fertilization</span> &mdash; Fertilizer injected deep into root system of your trees/shrubs.</p>
                <p><span>Ornamental Tree Pruning</span> &mdash; Trimming off new growth after plants have bloomed will help maintain the appropriate size and appearance of your ornamental trees and shrubs.</p>
            </div>
        </div>
