.content {
    max-width: 1000px;
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
}

/*@media screen and (max-width: 1000px) {
    .content {
        height: 400px;
    }
}

@media screen and (max-width: 750px) {
    .content {
        width: 80%;
        height: 300px;
    }
}

@media screen and (max-width: 350px) {
    .content {
        width: 90%;
        height: 200px;
    }
}*/
