
.content {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.content .rslides {
    text-align: center;
    margin-right: 35px;
    list-style-type: none;
}

/* CSS from http://responsiveslides.com/ */

    .rslides {
        position: relative;  /* this allows the li's inside to be absolutely positioned inside */
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .rslides li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;  /* basically top left position inside rslides container */
        top: 0;
    }

    .rslides li:first-child {
        position: relative;
        display: block;
        float: left;
    }

    .rslides img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
    }

/* end */

.about {
    padding-top: 1em;
}

.about h2 {
    border-bottom: 1px solid grey;
    text-align: left;
}

.about h2 a {
    float: right;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.7em;
}

@media screen and (max-width: 750px){
    .content {
        width: 80%;
    }
}    
