
.content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    max-width: 1000px;
}



.content .rslides {
    text-align: center;
    margin-right: 35px;
    list-style-type: none;
}





.about {
    padding-top: 1em;
}

.about h2 {
    border-bottom: 1px solid grey;
    text-align: left;
}



@media screen and (max-width: 750px){
    .content {
        width: 80%;
    }
}
