body {
    /*background-image: url("/images/subtle_dots.png");*/
    background-repeat: repeat;
    font-family: 'Oxygen', sans-serif;
}
/*logo color is #060F3D */
header {
    text-align: center;
    font-size: 1.5em;
    background-size: cover;
}

header img {
    vertical-align: middle;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

header a:hover {
    /*color: rgb(158, 138, 89);*/
    color: #193FFF;
}

header .row-1 {
    padding: 0.5em 0 0.5em 0;
}

header .row-1 span {
    margin-left: 2em;
    margin-right: 2em;
    letter-spacing: .075em;
}

header .row-3 div {
    letter-spacing: .025em;
    margin-left: 25px;
    font-weight: 300;
    font-size: 0.9em
}

@media screen and (max-width: 1150px) {
    div.row-1 .link {
        display: none;
    }
    .row-3 {
        font-size: 0.8em;
        padding-top: 0.5em;
    }
}

@media screen and (min-width: 1150px) {
    div.row-2 {
        display: none;
    }
}



div.row-2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.row-2 .link {
    padding: 0 2em 1.5em 2em;
    text-transform: uppercase;
    font-size: 0.9em;
}

@media screen and (max-width: 675px){
    div.row-2 .link {
        display: block;
        padding: 0.15em;
    }
}

.title-line {
    margin-top: 1em;
    width: 100%;
    height: 15px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

